    <div class="abrir-modal abunacuib fadeIn">
        <div class="modal" style="display: block;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">Carro de Compras!</div>
                        <button (click)="closeCart()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>

                    <div class="modal-body">
                        @if (items.length> 0) {
                            <cart [items]="items"  (idProductEventEmitter)="onDeleteCart($event)" />
                        }@else {
                            <div class="alert alert-warning">No hay elementos en el carro!</div>
                        }
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeCart()">Cerrar</button>

                      </div>
                </div>
            </div>

        </div>

    </div>