<navbar [items]="items" (openEventEmitter)="openCart()"></navbar>



<div class="container my">
    <h2 class="text-center my-4">Catalogo de productos App</h2>

    <div class="row">
        <div [className]="showCart ? 'col-9' : 'col'">
            <catalogo [products]="products" (productEventEmitter)="onAddCart($event)"></catalogo>
        </div>

        @if (showCart) {

        <div class="col-3">
            <button class="btn btn-secondary btn-sm float-end" (click)="openCart()">X</button>
            @if (items.length> 0) {
            <cart [items]="items" [total]="total" (idProductEventEmitter)="onDeleteCart($event)" />
            }@else {
            <div class="alert alert-warning">No hay elementos en el carro!</div>
            }

        </div>
        }
    </div>

</div>